@inject VacationManager.Data.ApplicationDbContext _context
@model VacationManager.Models.RoleModel

@{
    ViewData["Title"] = "Details";
    var username = User.Identity.Name;
    var loggedPerson = _context.Users.SingleOrDefault(u => u.Username == username);
    if (loggedPerson.RoleId != 1)
    {
        <script>
            window.location.href = "/Home/Index";
        </script>
    }
}

<h1>Details</h1>

<div>
    <h4>Role: @Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Users:</dt>
        <dd class="col-sm-10">
            @if (Model.Users.Any())
            {
                @foreach (var user in Model.Users)
                {
                    <div>@user.FirstName @user.LastName</div>
                }
            }
            else
            {
                <div>There are no people with this role.</div>
            }
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" onclick="return confirmDeleteOrEdit('@Model.Name')">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDeleteOrEdit(roleName) {
            if (roleName === "CEO" || roleName === "Developer" || roleName === "Team Lead" || roleName === "Unassigned") {
                alert("This role cannot be deleted or edited.");
                return false;
            }
            return true;
        }
    </script>
}