@inject VacationManager.Data.ApplicationDbContext _context
@model VacationManager.Models.Project

@{
    ViewData["Title"] = "Details";
    var username = User.Identity.Name;
    var user = _context.Users.SingleOrDefault(u => u.Username == username);
    if (user.RoleId != 1)
    {
        <script>
            window.location.href = "/Home/Index";
        </script>
    }
}

<head>
    <link rel="stylesheet" href="~/css/TeamDetails.css" />
</head>

<h1><i class="fa fa-info-circle"></i> Project Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<h4>Teams</h4>

@if (Model.Teams != null && Model.Teams.Any())
{
    <ul>
        @foreach (var team in Model.Teams)
        {
            <li>
                <span>@team.Name</span>
                <div style="display: inline-block;">
                    <form asp-action="RemoveTeam" asp-controller="Projects" onsubmit="return confirm('Are you sure you want to remove this team?');">
                        <input type="hidden" name="projectId" value="@Model.Id" />
                        <input type="hidden" name="teamId" value="@team.Id" />
                        <button type="submit" class="btn btn-link"><i class="fa fa-minus-square" aria-hidden="true" style="color: red"></i></button>
                    </form>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>No teams are working on this project.</p>
}

<h4>Add Team</h4>
<form asp-action="AddTeam" asp-controller="Projects">
    <input type="hidden" name="projectId" value="@Model.Id" />
    <select name="teamId">
        @foreach (var team in ViewBag.TeamsNotAssigned)
        {
            <option value="@team.Id">@team.Name</option>
        }
    </select>
    <button type="submit" class="btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Team</button>
</form>

<div class="foot">
    <a asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa fa-edit"></i> Edit</a> |
    <a asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Back to List</a>
</div>

@section Scripts {

}
