@inject VacationManager.Data.ApplicationDbContext _context
@model VacationManager.Models.VacationDaysModel

@{
    ViewData["Title"] = "Details";
    var username = User.Identity.Name;
    var loggedPerson = _context.Users.SingleOrDefault(u => u.Username == username);
    
        <script>
            window.location.href = "/Home/Index";
        </script>
    
}

<h1>Details</h1>

<div>
    <h4>VacationDaysModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsedDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsedDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PendingDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PendingDays)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
