@model VacationManager.Models.LeaveRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Leave Request Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.RequestCreationDate) *@
            Request Creation Date
        </dt>
        <dd class = "col-sm-10">
            @Model.RequestCreationDate.ToString("dd-MM-yyyy")
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.ApplicantId) *@
            Applicant
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(ViewBag.ApplicantName)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.StartDate) *@
            Start Date
        </dt>
        <dd class = "col-sm-10">
            @Model.StartDate.ToString("dd-MM-yyyy")
        </dd>
        <dt class = "col-sm-2">
            End Date
        </dt>
        <dd class = "col-sm-10">
            @Model.EndDate.ToString("dd-MM-yyyy")
        </dd>
        <dt class = "col-sm-2">
           Sick Leave
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSickLeave)
        </dd>
        <dt class = "col-sm-2">
            Medical Certificate
        </dt>
        <dd class="col-sm-10">
            @if (Model.MedicalCertificate != null)
            {
                <a asp-action="Download" asp-route-id="@Model.Id">Download Medical Certificate</a>
            }
            else
            {
                <span>No Medical Certificate Uploaded</span>
            }
        </dd>
        <dt class = "col-sm-2">
            Paid
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            Half Day
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHalfDay)
        </dd>
        <dt class = "col-sm-2">
            Approved
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class = "col-sm-2">
            Approver
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(ViewBag.ApproverName)
        </dd>
        <dt class = "col-sm-2">
            Completed
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
